html {
  height: 100%;
  width: 100%;
}
img{
  border-radius: 10px;
}
.border{
  border-style: solid;
  float:initial;
}
body {
  padding-top:65px;
}
.carousel-caption {
  opacity: 0;
  transition: opacity 0.3s ease;
}
#carouselExampleCaptions:hover .carousel-caption {
  opacity: 1;
}
.side-padding {
  padding-left: 10px;
  padding-right: 10px;
}
.bottom-padding {
  padding-bottom: 10px;
}
.top-padding {
  padding-top: 10px;
}
.center{
  text-align:center;
}
.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.modalOverlay{
  display:block;
  position:fixed;
  align-self: center;
  align-items: center;
  z-index: 1;
  left:0;
  top: 0;
  width:auto;
  height:auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.modalContent{
  background-color: #fefefe;
  margin:5% auto;
  padding:20px;
  border:1px solid #888;
  width: 80%;
  border-radius: 10px;
}
.closeButton{
  color:#aaa;
  float:right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.trigger {
  width: 100px;
  height: 100px;
  border: 5px solid #999;
  background: #ddd; 
  position: relative;
  float: right;
  transform: translate(500px,500px);
}
.box {
  display: inline-block;
  background: grey;
  width: 40%;
  height: 20%;
  transition: transform 500ms ease-in-out;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}
.content {
  position: absolute;
  z-index: 1;
}
.trigger:hover .box {
  transition: ease-in-out 0.3;
  opacity:0;
}
.donate {
  text-align: center;
}
.tranparent {
  display: none;
}
.bigtxt {
  size: 30px;
}
.quiz {
  font-size: 50px;
  text-align: center;
  float:center;
  text-wrap: border;
}
input{
  size:50px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}
.center {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd; /* Add borders to cells */
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td[colspan="2"], td[colspan="8"] {
  text-align: center;
  font-weight: bold;
}
